<style>
    .font-125 {
        font-family: cursive;
        font-weight: 400;
    }
    .jumbotron h1{
        font-family: cursive;
        font-weight: 800;

    }

    .container {
      max-width: {{ .Site.Params.containerMaxWidth | default "700px" | safeCSS }};
      
    }
    #nav a {
      font-weight: bold;
      color: inherit;
    }
    #nav-border {
      border-bottom: 1px solid #212529;
    }
    #main {
      /* background-color: #aaaaaa;   */
      margin-top: 1em;
      margin-bottom: 4em;
    }
    #home-jumbotron {
      background-color: inherit;
    }
    .font-125 {
      font-size: 125%;
    }
    .tag-btn {
      margin-bottom: 0.3em;
    }
    img {
      max-width: 100%;
    }
    </style>